h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5715em;
    font-weight: 300;
    line-height: 1.3334em;
    margin: 2em 0;
}
h2 {
    font-size: 1.7em;
    line-height: 1;
}
hr {
    margin: 6% 0;
}


.fp_big_cta {
    color: #fff;
    background: #f5900a;
    border-radius: 8px;
    display: inline-block;
    height: 57px;
    font-size: 1.286em;
    line-height: 57px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 225px;
}
.fp_big_cta:hover {
    color: #fff;/* f*g bootstrap */
    background-color: #ec7f00;
    text-decoration: none;
}
.fp_big_cta:first-letter {
    text-transform: uppercase;
}
.fp_big_cta .long {
    display: none;
}
.fp_trial_text {
    font-size: 1.071em;
    position: relative;
    width: 420px;
}

@media only screen and (min-width: 480px){
    .fp_big_cta {
        width: 394px;
    }
    .fp_big_cta .long {
        display: inline;
    }
}

@media only screen and (min-width: 768px) {
    .fp_big_cta {
        width: 402px;
    }
}

@media only screen and (min-width: 960px) {
    .fp_big_cta {
        width: 430px;
    }
}