/* Footer bottom */
.footerBottom {
	background: #1e2028;
	padding: 1em 0 3em;
}
.footerBottom,
.footerBottom a {
	font-size: 12px;
	color: #646468;
	text-decoration: none;
}

.footerSocIcons__iconItem {
	display: inline-block;
	width: 31px;
	height: 31px;
	text-align: center;
	background: #2f323f;
	border-radius: 50px;
}
.footerSocIcons__iconItem {
	margin-left: 4px;
}
.footerSocIcons__iconItem:first-child {
	margin-left: 0;
}
.footerBottom__copyrightText {
	line-height: 16px;
}


@media only screen and (max-width: 959px) {
	.footerBottom__copyrightText {
		margin-top: 1em;
	}
}

@media only screen and (min-width: 960px) {
	.footerSocIcons__list {
		float: left;
		margin: 0 40px 1em 0;
	}
}
