.a_ico { display: inline-block; background-image: url(icons.png); background-color: transparent; background-repeat: no-repeat; vertical-align: middle; }
.a_ico.arrow_down_gray_mini {  width: 7px; height: 5px; background-position: -113px -88px;}
.a_ico.arrow_down_in_circle_light_blue_mini {  width: 20px; height: 20px; background-position: -252px -190px;}
.a_ico.arrow_right_to_down_black_mini {  width: 20px; height: 16px; background-position: -274px -177px;}
.a_ico.arrow_up_in_circle_light_gray_mini {  width: 20px; height: 20px; background-position: -274px 0;}
.a_ico.basket_mini {  width: 33px; height: 29px; background-position: 0 -191px;}
.a_ico.cart_light_blue_mini {  width: 20px; height: 20px; background-position: -204px -191px;}
.a_ico.chain_mini {  width: 37px; height: 34px; background-position: -111px -154px;}
.a_ico.check_light_blue_mini {  width: 16px; height: 12px; background-position: -105px -220px;}
.a_ico.check_white_transparent_mini {  width: 20px; height: 16px; background-position: -274px -193px;}
.a_ico.close_gray_micro {  width: 10px; height: 10px; background-position: -183px -134px;}
.a_ico.close_gray_mini {  width: 12px; height: 12px; background-position: -145px -220px;}
.a_ico.close_light_gray_micro {  width: 8px; height: 8px; background-position: -284px -257px;}
.a_ico.discount_10_light_blue {  width: 37px; height: 37px; background-position: -153px -97px;}
.a_ico.discount_20_light_blue {  width: 37px; height: 37px; background-position: 0 -154px;}
.a_ico.discount_25_light_blue {  width: 37px; height: 37px; background-position: -37px -154px;}
.a_ico.discount_30_light_blue {  width: 37px; height: 37px; background-position: -74px -154px;}
.a_ico.entrance_white_mini {  width: 16px; height: 16px; background-position: -274px -225px;}
.a_ico.error_red {  width: 20px; height: 20px; background-position: -274px -60px;}
.a_ico.exit_white_mini {  width: 16px; height: 16px; background-position: -274px -209px;}
.a_ico.facebook_white_mini {  width: 6px; height: 12px; background-position: -268px -230px;}
.a_ico.gift_light_blue_mini {  width: 18px; height: 20px; background-position: -274px -139px;}
.a_ico.gplus_white_mini {  width: 16px; height: 13px; background-position: -252px -230px;}
.a_ico.index_landings_black {  width: 51px; height: 47px; background-position: -102px -97px;}
.a_ico.index_leads_black {  width: 51px; height: 51px; background-position: -51px -97px;}
.a_ico.index_users_black {  width: 51px; height: 57px; background-position: 0 -97px;}
.a_ico.info_in_circle_light_blue_mini {  width: 20px; height: 20px; background-position: -274px -40px;}
.a_ico.info_light_blue_micro {  width: 12px; height: 12px; background-position: -133px -220px;}
.a_ico.instagram_white_mini {  width: 15px; height: 15px; background-position: -74px -220px;}
.a_ico.link_light_blue_mini {  width: 20px; height: 20px; background-position: -274px -100px;}
.a_ico.login_mini {  width: 32px; height: 28px; background-position: -33px -191px;}
.a_ico.menu_light_blue_mini {  width: 14px; height: 10px; background-position: -169px -134px;}
.a_ico.money_mini {  width: 34px; height: 30px; background-position: -148px -154px;}
.a_ico.page_window_white {  width: 30px; height: 25px; background-position: -123px -191px;}
.a_ico.pie_chart_white {  width: 32px; height: 32px; background-position: -190px -97px;}
.a_ico.plus_in_circle_light_blue_mini {  width: 21px; height: 20px; background-position: -252px -170px;}
.a_ico.price_00_black {  width: 23px; height: 19px; background-position: -116px -244px;}
.a_ico.price_01_black {  width: 23px; height: 20px; background-position: -70px -244px;}
.a_ico.price_02_black {  width: 23px; height: 21px; background-position: 0 -244px;}
.a_ico.price_03_black {  width: 23px; height: 23px; background-position: -181px -191px;}
.a_ico.price_04_black {  width: 20px; height: 22px; background-position: -252px -128px;}
.a_ico.price_05_black {  width: 21px; height: 20px; background-position: -252px -150px;}
.a_ico.price_06_black {  width: 20px; height: 20px; background-position: -274px -80px;}
.a_ico.price_07_black {  width: 23px; height: 23px; background-position: -225px -194px;}
.a_ico.price_08_black {  width: 19px; height: 19px; background-position: -274px -120px;}
.a_ico.price_09_black {  width: 20px; height: 20px; background-position: -274px -20px;}
.a_ico.price_10_black {  width: 22px; height: 21px; background-position: -252px -46px;}
.a_ico.price_11_black {  width: 21px; height: 24px; background-position: 0 -220px;}
.a_ico.price_12_black {  width: 23px; height: 20px; background-position: -47px -244px;}
.a_ico.price_13_black {  width: 24px; height: 23px; background-position: -225px -125px;}
.a_ico.price_14_black {  width: 23px; height: 23px; background-position: -225px -148px;}
.a_ico.price_15_black {  width: 20px; height: 20px; background-position: -252px -210px;}
.a_ico.price_16_black {  width: 24px; height: 20px; background-position: -23px -244px;}
.a_ico.price_17_black {  width: 22px; height: 22px; background-position: -252px 0;}
.a_ico.price_18_black {  width: 22px; height: 20px; background-position: -252px -108px;}
.a_ico.price_19_black {  width: 29px; height: 28px; background-position: -65px -191px;}
.a_ico.price_20_black {  width: 28px; height: 25px; background-position: -153px -191px;}
.a_ico.price_21_black {  width: 26px; height: 25px; background-position: -225px -51px;}
.a_ico.price_22_black {  width: 27px; height: 25px; background-position: -225px -26px;}
.a_ico.price_23_black {  width: 27px; height: 26px; background-position: -225px 0;}
.a_ico.price_24_black {  width: 23px; height: 19px; background-position: -93px -244px;}
.a_ico.price_25_black {  width: 22px; height: 20px; background-position: -252px -88px;}
.a_ico.price_26_black {  width: 23px; height: 24px; background-position: -225px -101px;}
.a_ico.price_27_black {  width: 21px; height: 21px; background-position: -252px -67px;}
.a_ico.price_28_black {  width: 27px; height: 18px; background-position: -47px -220px;}
.a_ico.price_29_black {  width: 20px; height: 24px; background-position: -252px -22px;}
.a_ico.price_30_black {  width: 18px; height: 18px; background-position: -274px -159px;}
.a_ico.price_31_black {  width: 23px; height: 23px; background-position: -225px -171px;}
.a_ico.price_32_black {  width: 29px; height: 27px; background-position: -94px -191px;}
.a_ico.price_33_black {  width: 26px; height: 25px; background-position: -225px -76px;}
.a_ico.quote_top_light_blue_mini {  width: 10px; height: 8px; background-position: -274px -257px;}
.a_ico.search_gray_micro {  width: 12px; height: 12px; background-position: -121px -220px;}
.a_ico.search_gray_mini {  width: 16px; height: 16px; background-position: -274px -241px;}
.a_ico.slider_arrow_left_light_blue_mini {  width: 12px; height: 18px; background-position: -139px -244px;}
.a_ico.slider_arrow_right_light_blue_mini {  width: 12px; height: 18px; background-position: -151px -244px;}
.a_ico.sound_tr46 {  width: 113px; height: 97px; background-position: 0 0;}
.a_ico.star_orange_mini {  width: 12px; height: 11px; background-position: -169px -220px;}
.a_ico.star_yellow_micro {  width: 12px; height: 11px; background-position: -157px -220px;}
.a_ico.stats_graph_tr46 {  width: 112px; height: 88px; background-position: -113px 0;}
.a_ico.stats_mini {  width: 32px; height: 30px; background-position: -182px -154px;}
.a_ico.twitter_white_mini {  width: 14px; height: 13px; background-position: -163px -244px;}
.a_ico.university_light_blue_mini {  width: 26px; height: 19px; background-position: -21px -220px;}
.a_ico.vk_white_mini {  width: 16px; height: 10px; background-position: -153px -134px;}
.a_ico.youtube_white_mini {  width: 16px; height: 12px; background-position: -89px -220px;}
