.dn {display: none;}
.login_dialog {
    min-width: 320px;
    color: #43474c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border: 0;
}
.login_dialog .form {
    max-width: 377px;
    margin: 0;
}

.login_dialog__titlebar {
}
.login_dialog__titlebar .login_progress {
    background: #e7eaef;
    border-radius: 0;
}
.login_dialog__titlebar .line {
    height: 8px;
    background: #a7c2d7;
}
#login_dialog .close_dialog_btn {
    top: 15px;
}

.login_dialog .authForm {
    padding-top: 32px;
    padding-bottom: 48px;
}
.login_dialog .authForm h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: .5em;
}
.login_dialog .authForm h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 .5em;
}
.login_dialog .authForm input {
    border-radius: 6px;
    border: 2px solid #e7ebf4;
    padding: 0 15px;
    font-size: 16px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin-bottom: 16px;
    height: 44px;
}
.login_dialog .authForm input::-webkit-input-placeholder    {color:#959598; font-style: normal}
.login_dialog .authForm input:-moz-placeholder              {color:#959598; font-style: normal}/* Firefox 18- */
.login_dialog .authForm input::-moz-placeholder             {color:#959598; font-style: normal}/* Firefox 19+ */
.login_dialog .authForm input:-ms-input-placeholder         {color:#959598; font-style: normal}
.login_dialog .authForm input::-ms-input-placeholder        {color:#959598; font-style: normal}/* Edge */
.login_dialog .authForm input::placeholder                  {color:#959598; font-style: normal}

.login_dialog .authForm input[type="checkbox"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 3px 2px 0;
}

#cnt_authForm_email {
    word-wrap: break-word;
}

.login_dialog .authForm button {
    display: inline-block;
    border: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px 0;
    height: 48px;
    width: 161px;
}
.login_dialog .authForm button:focus {
    outline: none;
}
.login_dialog.tpl-passwordRestore .authForm button {
    min-width: 220px;
}

.login_dialog .authForm .link {
    float: right;
    display: inline-block;
    max-width: 119px;
    color: #666668;
    cursor: pointer;
    line-height: 14px;
    font-style: italic;
    text-decoration: underline;
    margin-top: 6px;
}
.login_dialog #authForm_error {
    color: red;
    font-style: italic;
    font-size: 14px;
    padding-left: 40px;/* ширина иконки + правый margin иконки */
    margin-top: 30px;
}
.login_dialog .authForm .ico_error {
    background: url(https://static.lpgenerator.ru/media/css/images/icons/src/a_ico_error_red.png);
    width:20px;
    height: 20px;
    display: inline-block;
    margin-right: 20px;
    margin-left: -40px;/* ширина иконки + правый margin иконки */
    vertical-align: middle;
}
.login_dialog #authForm_error div {
    vertical-align: middle;
}

.login_dialog .social_auth_wrapper {
    margin-top: 40px;
}

@media only screen and (max-width: 767px) {
    .login_dialog {
        padding: 34px 0;
        border-radius: 0;
        overflow: auto;
    }
    .login_dialog.modal {
        position: absolute;
    }
    .login_dialog.modal.fade.in {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .login_dialog .login_dialog__titlebar,
    .login_dialog .dialog_inner {
        max-width: 608px;
        padding: 0 20px;
        margin: 0 auto;
    }
    .login_dialog .login_progress {
        border-radius: 4px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 420px) and (max-width: 767px) {
    .login_dialog {
        padding: 80px 0 28px;
    }
}
@media only screen and (min-width: 420px) {
    .login_dialog .authForm button {
        width: 220px;
    }
}
@media only screen and (min-width: 768px) {
    .login_dialog {
        width: 473px;
        border-radius: 6px;
        margin-left: -195px;
        overflow: hidden;
    }
    .login_dialog .authForm {
        padding-right: 48px;
        padding-left: 48px;
    }
}
